@use "../globals/" as g;
@use "../util/" as u;

.cards-container {
  display: grid;
 // grid-template-columns: repeat(2, 1fr);
 // grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-gap: u.rem(30);
  max-width: u.rem(900);
  justify-items: stretch;

  @include u.breakpoint-up(medium) {
    max-width: u.rem(1100);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}
.card {
  position: relative;
  background-color: hsl(var(--white));
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: u.rem(8);
  padding: u.rem(35);

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 0.5rem 0.5rem 0 0;
  }
}

.card-middle-wrapper {
  display: flex;
  flex-direction: column;
  gap: u.rem(30);
}

.card-1 {
  &::before {
    background-image: linear-gradient(
      120.63457363738826deg,
      rgb(180, 239, 243) 5.4125%,
      rgba(78, 240, 250, 1) 96.9125%
    );
  }
}
.card-2 {
  &::before {
    background-image: linear-gradient(
      120.63457363738826deg,
      rgba(245, 167, 128, 1) 5.4125%,
      rgba(241, 43, 92, 1) 96.9125%
    );
  }
}
.card-3 {
  &::before {
    background-image: linear-gradient(
      120.63457363738826deg,
      rgba(247, 238, 147, 1) 5.4125%,
      rgba(234, 220, 34, 1) 96.9125%
    );
  }
}
.card-4 {
  &::before {
    background-image: linear-gradient(
      120.63457363738826deg,
      rgb(237, 149, 255) 5.4125%,
      rgba(159, 1, 234, 1) 96.9125%
    );
  }
}
.card-title {
  color: hsl(var(--Very-Dark-Blue));
  font-size: u.rem(19);
  font-weight: 600;
}
.card-detail {
  color: hsl(var(--Grayish-Blue));
  font-size: u.rem(13);
  font-weight: 400;
}
.card-figure {
  float: right;
  padding-top: u.rem(40);
}
